<!DOCTYPE html>
<html>

<head>
    <title>Employees</title>
    <link rel='stylesheet' href='/css/style-sheet.css'>
</head>

<body>
    {{>headerEmployee}}
    <div class="main">
        <table border="2px">
            <thead>
                <tr>
                    <th>Full Name</th>
                    <th>Email</th>
                    <th>Job description</th>
                    <th>Phone no</th>

                </tr>
            </thead>
            <tbody>
                {{#each list}}
                <tr>
                    <td>{{this.name}}</td>
                    <td>{{this.email}}</td>
                    <td>{{this.position}}</td>
                    <td>{{this.phone}}</td>
                    <td>
                        <a href="/view/{{this._id}}">View</i></a>
                        <a href="/employee/{{this._id}}">Edit</i></a>
                        <a href="/edit/delete/{{this._id}}"
                            onclick="return confirm('Are you sure to delete this record ?');">Delete</a>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{>footer}}
</body>

</html>