<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/css/style-sheet.css'>
</head>

<body>
    {{>headerManager}}
    <div class="main">
        <div class="solid">
            <form action="/manager" method="POST" autocomplete="off">
                <input type="hidden" name="_id" value="{{employee._id}}">
                <label>Employee ID:</label>
                <input type="text" name="empId" value="{{employee.empId}}"><br><br>
                <label>Name : </label>{{employee.name}}<br><br>
                <label>Email : </label>{{employee.email}}<br><br>
                <label>Position : </label>{{employee.position}}<br><br>
                <label> Phone : </label>{{employee.phone}}<br><br>
                <label>Salary :</label>
                <input type="text" name="salary" value="{{employee.salary}}"><br><br>
                <div class="center"><button> Submit</button></div>
            </form>
        </div>
    </div>
    {{>footer}}
</body>

</html>