<!DOCTYPE html>
<html>

<head>
    <title>Employees</title>
    <link rel='stylesheet' href='/css/style-sheet.css'>
</head>

<body>
    {{>headerManager}}
    <div class="main">
        <table border="2px">
            <thead>
                <tr>
                    <th>Employee ID </th>
                    <th>Employee Name</th>
                    <th>Task ID</th>
                    <th>Task Description</th>
                    <th>Status (in %)</th>
                </tr>
            </thead>
            <tbody>
                {{#each list}}
                <tr t>
                    <td>{{this.empId}}</td>
                    <td>{{this.name}}</td>
                    <td>{{this.taskId}}</td>
                    <td>{{this.taskName}}</td>
                    <td>{{this.status}} </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    {{>footer}}
</body>

</html>